/*
Author URI: http://webthemez.com/
*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);
,
*:before,
*:after {
  box-sizing: inherit;
  line-height: inherit;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	background: #fff;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}
::selection {
	color: #fff;
	background: #A43E89;
}

::-moz-selection {
 color: #fff;
 background: #A43E89;
}
p {
	color: #858585;
	margin: 0 0 1em !important;
}
h1, h2, h3, h4, h5, h6 {
	font-family:36px 'Open Sans', sans-serif;
}
.fitImage {
	max-width: 100%;
	vertical-align: middle;
	display: inline-block;
}
.animated {
	/* -webkit-animation-duration: 1s; */
	animation-duration: 1s;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}
.mcbook {
	opacity: 0;
}
.show {
	opacity: 1;
}
.pDark p {
	color: #6D6D6D;
}
h6{
	font-size:14px;
}
.dataTxt ul li{
	list-style:none;
	line-height:30px;
}
.listArrow li{
background: url('../images/links-arrow.png') 0px 12px no-repeat;
padding-left:15px;
}
.progress {
height: 12px;
border-radius:0px;
}
.progress .progress-bar.progress-bar-red {
background: #F76E26;
}
.progress .progress-bar.progress-bar-green {
background: #51D4B6;
}
.progress .progress-bar.progress-bar-lblue {
background: #9FDE32;
}
.feature a {
display: inline-block;
font-size: 18px;
color: #fff;
background: #A43E89;
margin-right: 20px;
width: 220px;
text-align: center;
line-height: 41px;
/* border-radius: 10px; */
}
#services img{
	width:100%;
}
#services .circle{
width:120px;
height:90px;
display:inline-block;
background: transparent;
border:1px solid #fff;
overflow:hidden;
}
#services .circle:hover {
	background:#FFF;	
	transition: all 0.2s linear 0s;
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
}
.pDark h3 {
	color: #BEBEBE;
}
.btn {
	color:#fff;
	background: #A43E89;
}
.btn:hover {
	 color:#fff !important;
	background:#CA1098;
}
 a:hover {
	
	 color:#F443C5 !important;
 }
.btn{
display: inline-block;
padding: 8px 12px;
	}
.btn, .form-control, .team-socials i {
	border-radius: 0px !important;
}
.form-group {
	margin: 0 auto;
	margin-bottom: 15px;
	width: 75%;
}
.form-control {
	border: none;
	padding: 22px 4px;
	outline: none;
	color: #5A5A5A;
	margin: 0;
	width: 210px;
	max-width: 100%;
	display: block;
	margin-bottom: 20px;
	background: #F5F2ED;
	font-size: inherit;
	border-radius: 0px !important;
	width: 99%;
}
.button-outline {
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	color: #fff;
	padding: 10px 25px;
	border: 2px solid #fff;
	border-radius: 0px;
	font-size: 16px;
	font-weight: 400;
	background: rgba(255,255,255,0.15);
}
.button-outline:hover {
	color: #fff;
	background: rgba(255,255,255,0.35);
}
a {
	color: #A43E89;
	text-decoration: none;
	text-shadow: none;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
a:hover {
	color: #000;
	text-decoration: none;
}
.btn {
	border: 0px;
	border-radius: 0px;
}
.btn-primary {
	background: #A43E89;
}
.form-control {
	border-radius: 0px;
}
.mrgn30 {
	margin: 30px 0;
}
.copyright {
color: #6D6D6D;
background: #000000;
padding: 20px 0;
border-top: 1px solid #1D1D1D;
}
#top {
	position: relative;
}
.topHome {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 5;
}
.topHome:hover{
color:#F89F9F;	
	}
/* Header 
----------------------------------------------*/
#section-top {
	background: #4E4E4E;
}
#section-top ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
}
#section-top ul li {
	display: inline-block;
}
#section-top ul li a {
	border-radius: 2px;
	display: inline-block;
	height: 35px;
	line-height: 35px;
	width: 35px;
	text-align: center;
}
#section-top .region-top-first {
	float: right;
}
.header {
	position: fixed;
	width: 100%; 
	z-index: 50;
	border-radius: 0;
	top: 0px; 
}
.addBg {
	background: rgba(5, 5, 5, 0.94);
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}
.navbar-inverse {
	background: transparent;
}
.navbar-inverse .navbar-toggle {
	background-color: #A43E89;
}
.navbar-inverse .navbar-toggle .icon-bar {
/*background-color: #A43E89;*/
;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background: #A43E89;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: #fff;
}
.navbar-inverse .navbar-toggle:hover .icon-bar {
	background: #fff;
}
.navbar-toggle {
}
.hero-text {
	color: #676e73;
	width: 83%;
	text-align: center;
	margin: 23% auto 24px auto;
	font-family: 'Oswald', sans-serif;
}
.hero-text p {
	font-family: 'Oswald', sans-serif;
	padding: 0;
	margin: 12px 8% 0;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
}
/*.carousel-inner*/
#myCarousel {
	margin-top: 50px;
	border-bottom: 4px solid #A43E89;
}
.carousel-inner > .item {
}
.carousel-caption {
	padding: 0px;
	bottom: 40%;
	display: block;
	height: 80px;
}
.carousel-caption h1 {
	font-size: 45px;
	padding: 10px 15px;
	background: rgba(128, 180, 33, 0.80);
	color: #FFFFFF;
	text-shadow: none;
	font-weight: bold;
	display: inline-block;
}
.carousel-caption h3 {
	font-size: 30px;
	color: #1C4604;
	font-weight: bold;
	text-shadow: #fff 1px 1px 1px;
}
.actionPanel {
	padding: 25px 0;
	background: #A43E89;
}
.actionPanel h3 {
	margin: 0px;
}
.circle {
	background: #fff;
	height: 90px;
	width: 90px;
	border-radius: 0px;
	color: #A43E89;
	line-height: 90px !important;
}
#section-strapline {
	background: #f00bfff;
	line-height: 42px;
	clear: both;
}
/*----Nav ----*/
.header .navbar-brand {
	float: left;
	padding: 22px 15px;
	line-height: 18px;
	height: 50px;/*color:#A43E89;*/
}
.navbar-brand b {
	color: #A43E89;
	font-family: 'Oswald', sans-serif;
	font-weight: 900;
}
.navbar-brand b i {
	color: #fff;
	font-style: normal;
}
.logo {
	font-size: 2.2em;
	text-shadow: none;
	margin: 8px 0 0 0;
}
.logo:hover {
	color: #5A5A5A;
}
.header .navbar {
	margin: 0;
	background: transparent;
	border: 0;
}
.hero-text2{
	padding:30px 0;
	text-align:center;	
}
.hero-text2 h3{
	font-size: 25px;
	color: #777777;
	line-height: 36px; 
	text-align: center
}
.navbar-inverse .navbar-nav > li > a {
	color: #fff;
	font-size: 1.2em;
	line-height: normal;
	margin: 17px;
	padding: 6px 0px !important;
	border-radius: 5px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	color: #fff;
	background: none;
	border-bottom: 2px solid #C092AE;
	border-radius: 0px;
}
.navbar-inverse .navbar-nav > .active {
}
.navbar-nav > li:hover > a {
	color: #fff;
}
.header .navbar-nav > li > a {
	padding: 25px 18px;
}
.page-section {
	width: 100%;
	height: auto;
	padding: 35px 0;
}
.noPadd {
	padding: 0;
}
.page-section h1 {
	font-size: 3.5em;
	margin: 90px 0 30px;
	line-height: 1.2em;
}
.page-section h1 span {
	font-weight: 200;
}
.page-section h2 {
	color: #A43E89;
}
.page-section p {
	font-size: 15px;
	line-height: 1.5em;
}
.darkBg {
	background: #000;
}
.darkBg .fa {
	color: #A43E89;
}
/*--- Banner ----*/
.banner-container {
	width: 100%;
	position: relative;
	padding: 0px;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.4);
	/*background: url("../images/banner-bg.jpg") no-repeat;*/
	background-size: 100% 100%;
	background-size: cover;
	position: relative;
	border-bottom: 2px #A43E89 solid;
}
.banner-container:before {
position: absolute;
width: 100%; 
z-index: 1; 
content: '';
height: inherit;
top: 75px;
bottom: 0px;
}
.banner-container > img {
	width: 100%;
}
.banner-content {
	position: absolute;
	z-index: 3;
	top: 0px;
	left: 0px;
	right: 0px;
}
.hero-text h1 {
	color: #fff;
	font-size: 6.5em;
	margin: 2% 0 30px;
	line-height: 50px;  
	font-size: 48px;
	margin: 37px 0 13px; 
}
.hero-text p {
	font-size: 1.6em;
	color: #fff;
	font-style: normal; 
	text-shadow: 1px 1px 1px #8F8F8F;
}
.arrow-link {
display: inline-block;
font-size: 32px;
height: 50px;
line-height: 38px;
overflow: hidden;
text-align: center;
vertical-align: top;
width: 50px;
border: 4px solid #fff;
border-radius: 50%;
}
a.arrow-link {
	color: #fff;
}
a.arrow-link i{
font-size:28px;
}
a.arrow-link:hover {
	color: #fff;
}
.colord {
	background:#A43E89;
}
.colord p {
	color:#FFE4F8;
}
.colord h3 {
	color: #fff;
}
.hero-button {
	text-align: center;
	background: rgba(255, 255, 255, 0.36);
	border: 1px solid #fff;
	padding: 20px;
	display: inline-block;
	margin: 0 auto;
	clear: left;
	width: auto;
}
.hero-img {
	text-align: center;
	margin: 124px auto 24px auto;
}
.da-slider {
	margin: 0 auto !important;
}
.heading h2 {
	color: #222;
}
#contactUs .heading h2 {
	color: #fff;
}
.sub-heading {
	padding: 15px 0;
}
.sub-heading h2 {
	font-size: 18px;
	margin: 15px 0 8px !important;
}
.sub-heading p {
	color: #5A5A5A;
}
.heading {
	padding: 3px 10px;
	padding-bottom: 15px;
	margin-bottom: 30px;
	display: block;
}
.heading p {
	font-size: 1.2em;
}
.pdingBtm30 {
	padding-bottom: 30px;
}
.da-arrows span:after {
	width: 25px;
	height: 37px;
}
.da-arrows span {
	position: absolute;
	top: 50%;
	height: 34px;
	width: 34px;
	border-radius: 60px;
	background: none;
}
.da-dots span {
	display: inline-block;
	position: relative;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.13);
	margin: 3px;
	cursor: pointer;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.1) inset, 1px 1px 1px rgba(255,255,255,0.1);
	border: 2px solid #A43E89;
}
img, video, iframe, embed, object {
	max-width: 100%;
	height: auto;
}


/* --Portfolio----- */
#work {
	background: #A43E89;
	color: #fff;
}
#work h2 {
	color: #fff !important;
}
#work p {
	color: #fff;
}
#portfolio {
	width: 100%
}
#portfolio .filters {
	margin-bottom: 20px
}
#portfolio .filters li a {
	color: #999;
	font-weight: 600;
	text-transform: uppercase;
}
#portfolio .filters li a, #portfolio .filters li a:hover, #portfolio .filters li a:focus {
	color: #fff
}
#portfolio .filters li a.active {
	color: #fff !important;
border-bottom: solid #fff 1px;
}
#portfolio .items {
	margin-bottom: 0
}
#portfolio .items li {
	position: relative;
	float: left;
	width: 25%;
	overflow: hidden;
}
#portfolio .items li a img {
	width: 100%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#portfolio .items li a .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	background-color: rgba(0,0,0,0.6);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	opacity: 0;
}
#portfolio .items li a .overlay span {
	color: #FFF;
	position: absolute;
	height: 50px;
	top: 50%;
	left: 0px;
	right: 0px;
	margin-top: -25px;
	line-height: 50px;
}
#portfolio .items li a:hover .overlay {
	opacity: 1
}
#portfolio .items li a:hover img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
nav#filter {
	margin-bottom: 1.5em;
}
nav#filter li {
	display: inline-block;
	margin: 0 0 0 5px;
}
nav#filter a {
	padding: 4px 12px;
	line-height: 20px;
	border: 1px solid #A43E89;
	text-decoration: none;
}
.current {
	background: #A43E89;
	color: #fff;
} 
.page-section.intro {
	min-height: 600px;
}
.btn {
	font-weight: 200;
}
.btn-dark {
	background: #444;
	color: #fff;
}
.btn-dark:hover {
	background: #000;
	color: #fff;
}
.back-to-top {
	display: inline-block;
	clear: both;
	background: #fff;
	color: #333;
	padding: 0 10px 5px;
	margin: 20px 0 0;
	text-shadow: none;
}
.back-to-top:hover {
	background: #333;
	color: #fff;
	text-decoration: none;
}
hr {
	border-color: #ddd;
}
body {
	margin: 0;
	font-family: Arial, sans-serif;
}
#navigation {
	position: fixed;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	width: 200px;
	background: #ffffff;
	box-shadow: 0 10px 10px -10px #000000;
}
#navigation > li {
	margin: 0;
	padding: 0;
	list-style: none;
}
#navigation > li > a {
	margin: 1px;
	color: #000000;
	background: #cccccc;
	display: block;
	padding: 5px;
	text-decoration: none;
	transition: all 400ms;
}
#navigation > li > a.current,  #navigation > li:hover > a {
	background: #999999;
}
.pageSection {
	min-height: 600px;
	padding: 20px;
	background: #dddddd;
}
.pageSection:nth-child(odd) {
	background: #eeeeee;
}
.socialIcons li {
	list-style: none;
	display: inline;
	margin-right: 6px;
}
footer {
	border-top: 1px solid #303030;
	padding: 45px 0;
	background: #fff;
}
.social a:hover {
	color: #000;
}
.social a {
	font-size: 32px;
	margin: 0 10px;
	color: #A43E89;
}
.contact ul li {
	margin-bottom: 10px;
}
.contact ul li i {
	margin-right: 15px;
}
/*Clients*/
footer{
	background: #060606;
}
footer .col.col-social-icons i:hover{
color:#A43E89;
}
.navbar-inverse .navbar-nav > li > a {
	color: #fff;
	font-size: 1.1em;
	padding: 6px 0px !important;
	border-radius: 5px;
	margin: 19px 10px;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #A8A8A8;
}
@media (max-width: 480px) {
.header{
background:#000;
}
.responsive-headline {
	font-size:30px;
color:#DC143C!important;
text-shadow: 1px 0 1px #000, 
0 1px 1px #000, 
-1px 0 1px #000, 
0 -1px 1px #000;

}
}
#owl-demo .item {
	background: #3fbf79;
	padding: 30px 0px;
	margin: 10px;
	color: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
}
.contact-parlex {
	padding-top: 0px;  
	background:#161616;
}
.parlex-back {
	padding: 30px 0;
	background-color: rgba(0, 0, 0, 0.37);
	color: #FDFDFD !important;
}
.parlex-back .heading p {
	color: #FDFDFD;
}
#clients {
	background: #fff;
}


.player {
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  color: #5e6062;
  font-family: "Raleway", sans-serif;
  height: 310px;
  line-height: 1.2;
  margin: 50px auto;
  position: relative;
  width: 310px;
}
.player:after {
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  background: #777;
  bottom: 12px;
  box-shadow: 0 15px 23px rgba(0, 0, 0, 0.3);
  content: "";
  height: 10px;
  left: 2%;
  opacity: 0;
  padding-left: 5%;
  position: absolute;
  width: 96%;
  z-index: 5;
}
.player .player__content {
  background-color: #fff;
  height: 100%;
  padding: 100px 0 0 20px;
  position: relative;
  text-align: right;
  width: 100%;
  z-index: 10;
}
.player .player__artist {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
  width: 200px;
}
.player .player__album {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
  width: 200px;
}
.player .player__track {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 30px;
  width: 200px;
}
.player .player__track:before, .player .player__track:after {
  content: '"';
  font-size: 22px;
  vertical-align: middle;
}

.player--open {
  border-radius: 2px;
  height: 370px;
  position: relative;
  width: 460px;
}
.player--open:after {
  opacity: 1;
}

.player__controls {
  bottom: 45px;
  left: 0;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 250px;
}
.player__controls-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  display: inline-block;
  height: 26px;
  margin: 0 8.6666666667px;
  position: relative;
  width: 26px;
}
.player__controls-item--play {
  overflow: hidden;
}
.player__controls-item--play .rectangle,
.player__controls-item--play .triangle {
  height: 26px;
  left: 0;
  position: absolute;
  top: 0;
  width: 26px;
}
.player__controls-item--play .rectangle {
  z-index: 5;
}
.player__controls-item--play .rectangle:before, .player__controls-item--play .rectangle:after {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #f0f39c;
  content: "";
  height: 100%;
  width: 50%;
}
.player--playing .player__controls-item--play .rectangle:before, .player--playing .player__controls-item--play .rectangle:after {
  width: 36%;
}
.player__controls-item--play .rectangle:before {
  float: left;
  overflow: hidden;
}
.player__controls-item--play .rectangle:after {
  float: right;
}
.player__controls-item--play .triangle {
  z-index: 10;
}
.player__controls-item--play .triangle:before, .player__controls-item--play .triangle:after {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: transparent;
  border-bottom: 13px solid transparent;
  border-right: 26px solid #fff;
  border-top: 13px solid transparent;
  content: "";
  height: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
}
.player__controls-item--play .triangle:before {
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.player--playing .player__controls-item--play .triangle:before {
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  -o-transform: translate(0, -100%);
  transform: translate(0, -100%);
}
.player__controls-item--play .triangle:after {
  -webkit-transform: translate(0, 50%);
  -moz-transform: translate(0, 50%);
  -ms-transform: translate(0, 50%);
  -o-transform: translate(0, 50%);
  transform: translate(0, 50%);
}
.player--playing .player__controls-item--play .triangle:after {
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  transform: translate(0, 100%);
}
.player__controls-item--play:hover .rectangle:before, .player__controls-item--play:hover .rectangle:after {
  background-color: #e9ed6f;
}
.player__controls-item--next, .player__controls-item--prev {
  width: 45px;
}
.player__controls-item--next:before, .player__controls-item--next:after, .player__controls-item--prev:before, .player__controls-item--prev:after {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  content: "";
  height: 0;
  position: absolute;
  top: 0;
  width: 0;
}
.player__controls-item--next {
  width: 45px;
}
.player__controls-item--next:before, .player__controls-item--next:after {
  border-left: 26px solid #f0f39c;
}
.player__controls-item--next:before {
  left: 0;
}
.player__controls-item--next:after {
  left: 17.3333333333px;
}
.player__controls-item--next:hover:before, .player__controls-item--next:hover:after {
  border-left-color: #e9ed6f;
}
.player__controls-item--prev:before, .player__controls-item--prev:after {
  border-right: 26px solid #f0f39c;
}
.player__controls-item--prev:before {
  right: 0;
}
.player__controls-item--prev:after {
  right: 17.3333333333px;
}
.player__controls-item--prev:hover:before, .player__controls-item--prev:hover:after {
  border-right-color: #e9ed6f;
}

.album {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  height: 310px;
  position: absolute;
  right: 0;
  top: 50%;
  width: 310px;
  z-index: 100;
}
.player--open .album {
  cursor: default;
  right: -100px;
}
.album__cover {
  background-color: #000;
  background-size: cover;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 20;
}
.album:hover .vinyl {
  left: 25%;
}

.album--billionaires-2014-compilation .album__cover,
.album--billionaires-2014-compilation .vinyl .vinyl__center:before {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/43525/album-billionaires-2014-compilation.jpg");
}

.album--project-mayhem .album__cover,
.album--project-mayhem .vinyl .vinyl__center:before {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/43525/album-project-mayhem.jpg");
}

.album--boxer .album__cover,
.album--boxer .vinyl .vinyl__center:before {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/43525/album-boxer.jpg");
}

.vinyl {
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  left: 10px;
  position: absolute;
  top: 10px;
  height: 290px;
  width: 290px;
}
.player--open .vinyl {
  left: 0 !important;
}
.player--playing .vinyl {
  left: 50% !important;
}
.vinyl__shadow, .vinyl__circle {
  border-radius: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.vinyl__shadow {
  box-shadow: 2px 8px 10px 0 rgba(0, 0, 0, 0.15);
  z-index: 5;
}
.vinyl__circle {
  -webkit-animation: rotate 1s linear infinite both paused;
  -moz-animation: rotate 1s linear infinite both paused;
  animation: rotate 1s linear infinite both paused;
  background-color: #262121;
  z-index: 10;
}
.player--playing .vinyl__circle {
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  animation-play-state: running;
}
.vinyl__center {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #292424;
  border-radius: 100%;
  height: 146px;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 146px;
}
.vinyl__center:before, .vinyl__center:after {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 100%;
  content: "";
  left: 50%;
  position: absolute;
  top: 50%;
}
.vinyl__center:before {
  background-color: #ed7167;
  background-size: cover;
  height: 116px;
  width: 116px;
  z-index: 5;
}
.vinyl__center:after {
  background-color: #fff;
  height: 40px;
  width: 40px;
  z-index: 10;
}

.has-fade-in {
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  opacity: 0;
}
.player--open .has-fade-in {
  opacity: 1;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}